<!DOCTYPE html>
<html>
  <head>
    {{#if index}}
      <meta charset="utf-8">
      <link rel="icon" href="images/icon.png">
      <link rel="stylesheet" href="/stylesheets/landing.css">
      <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
      <title>Beer Me!</title>
    {{else}}
      <meta charset="utf-8">
      <link rel="icon" href="images/icon.png">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <title>Beer Me!</title>
    {{/if}}
  </head>

  <body>

    {{{body}}}

  </body>
</html>
